<div class="row d-flex justify-content-center" [hidden]="Loading == false" style="margin-top: 50px;">
  <div class="col-lg-12" style="margin: 0 auto; text-align: center;">
      <img src="../../../assets/loading.gif" style="margin-left: -21%"/>
  </div>
</div>

<div [hidden]="Loading == true">
  <div class="row" style="margin-top: 15px">
    <div class="col-12">
      <h3>Transaction DEtail</h3>
      <table class="block-table">
        <tbody>
          <tr><td>TXN</td><td>{{Transaction.txn}}</td></tr>
          <tr><td>Created On</td><td>{{ GetDate(Transaction.created_on) }}</td></tr>
          <tr><td>Block Id</td><td>{{ Transaction.cert_block_id }}</td></tr>
          <tr><td>From</td><td><a href="/view-wallet-txns/{{Transaction.from}}">{{ Transaction.from }}</a></td></tr>
          <tr><td>To</td><td><a href="/view-wallet-txns/{{Transaction.to}}">{{ Transaction.to }}</a></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
