.header-link
{
    color: white;
    text-decoration: none;
}

.sidebar .nav-link {
    font-weight: 200;
    color: var(--bs-dark);
    font-size: 20px;
  }
  .sidebar .nav-link:hover {
    background: var(--bs-light);
    color: var(--bs-primary);
  }
  
  [hidden] {
    display: none !important;
  }
  