
<div class="row" style="margin-top: 75px; margin-left: -21%">
  <div class="col-12 big-button-container">
    <div class="big-button" routerLink="/view-wallet">
      <div><i class="fa-solid fa-id-card fa-2xl"></i></div>
      <div class="big-button-name"><h4>Sign In</h4></div>
    </div>
    <div class="big-button" routerLink="/create-wallet">
      <div><i class="fa-solid fa-square-plus fa-2xl"></i></div>
      <div class="big-button-name"><h4>Create Wallet</h4></div>
    </div>
  </div>
</div>